PORT=9007
TZ=Europe/Madrid

WHISPER_API_KEY=CAMBIAR_EN_ENTORNO_REAL

REAL_DEBRID_TOKEN=CAMBIAR_EN_ENTORNO_REAL
REAL_DEBRID_API=https://api.real-debrid.com/rest/1.0

RDT_BASE=http://rdtclient:6500
RDT_USER=CAMBIAR_EN_ENTORNO_REAL
RDT_PASS=CAMBIAR_EN_ENTORNO_REAL

QBIT_BASE=http://qbittorrent:8080
QBIT_USER=CAMBIAR_EN_ENTORNO_REAL
QBIT_PASS=CAMBIAR_EN_ENTORNO_REAL

BTDIGG_VOICE_OPENAI_API_KEY=CAMBIAR_EN_ENTORNO_REAL
BTDIGG_VOICE_OPENAI_BASE_URL=http://whisper:9000/v1
BTDIGG_VOICE_OPENAI_MODEL=whisper-1

ARR_TORRENT_INBOX_HOST=/ruta/local/torrents/watch/inbox
TUNNEL_TARGET=http://btdigg-rd:9007

CLOUDFLARE_ACCOUNT_ID=CAMBIAR_EN_ENTORNO_REAL
WORKERS_DEV_SUBDOMAIN=CAMBIAR_EN_ENTORNO_REAL
CLOUDFLARE_API_TOKEN=CAMBIAR_EN_ENTORNO_REAL
